COMPOSE_PROJECT_NAME=ai_analytics_platform

POSTGRES_USER=analytics
POSTGRES_PASSWORD=analytics_password
POSTGRES_DB=analytics_platform
POSTGRES_PORT=5432

REDIS_PORT=6379

API_PORT=8000
WEB_PORT=3000

